@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* We use @apply to enforce the dark theme background globally */
body {
  @apply bg-primary text-textMain min-h-screen;
}